<section class="booking" data-aos="flip-up" data-aos-duration="2000">
  <div class="container">
    <div class="booking__inner">
      <h2 class="booking__title section-title">Забронируйте отдых в Африке</h2>
      <form class="booking__form form">
        <input class="booking__input" type="text" placeholder="Ваше имя" aria-label="Поле ввода имени"
          aria-required="true" required />
        <input class="booking__input" type="tel" placeholder="Телефон" aria-label="Поле ввода номера телефона"
          aria-required="true" data-validate-field="tel" required />
        <input class="booking__input" type="email" placeholder="E-mail" aria-label="Поле ввода E-Mail адреса"
          aria-required="true" data-validate-field="email" required />
        <textarea class="booking__area" placeholder="Комментарий" aria-label="Поле ввода комментария"
          aria-required="true" required></textarea>
        <div class="booking__footer">
          <button class="booking__btn btn" type="submit">
            Отправить заявку
          </button>
          <label class="booking__label">
            <input class="booking__checkbox visually-hidden" type="checkbox" required />
            <span class="booking__checkbox-style" role="checkbox"
              aria-label="Подтвердить согласие на обработку персональных данных"></span>
            <p>Согласие на обработку персональных данных</p>
          </label>
        </div>
      </form>
    </div>
  </div>
</section>
