<section class="map">
  <div class="container map__container">
    <h2 class="section-title map__title" data-aos="flip-up" data-aos-duration="1000">
      Карта Африки
    </h2>
    <div class="map__map-block" data-aos="zoom-in" data-aos-duration="1000">
      <picture>
        <source type="image/avif" srcset="images/map.avif 1x, images/map@2x.avif 2x" />
        <source type="image/webp" srcset="images/map.webp 1x, images/map@2x.webp 2x" />
        <img class="map__img" src="images/map.jpg" srcset="images/map@2x.jpg 2x" alt="Карта Африки" width="100%"
          height="610" />
      </picture>
      <iframe class="map__interactive"
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d19551142.709571898!2d34.029176550000045!3d-18.523666234948884!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sru!2sru!4v1633822674493!5m2!1sru!2sru"
        width="100%" height="610" style="border: 0" allowfullscreen="" loading="lazy" title="Карта африки"></iframe>
    </div>
  </div>
</section>
