<section class="tour">
  <div class="container">
    <h2 class="tour__title section-title" data-aos="flip-up" data-aos-duration="1000">
      Сафари тур премиум класса
    </h2>
    <div class="tour__box" data-aos="zoom-in" data-aos-duration="1000">
      <p class="tour__text">
        Сафари тур ? это уникальное путешествие в мир дикой природы, знакомство
        с многогранной Африкой, наблюдение за дикими животными в их привычной
        среде обитания.
      </p>
      <p class="tour__text">
        <b>Сафари Туристик</b> специализируется на элитном туризме и
        представляет своим клиентам уникальные программы сафари туров.Среди
        представленных вариантов можно найти нечто неповторимое, по вашему
        вкусу.
      </p>
      <p class="tour__text">
        Если вы желаете отправиться в самое незабываемое путешествие в вашей
        жизни, побывать в уникальных местах и увидеть то, что удается лицезреть
        немногим ? тогда сафари туры созданы для вас.
      </p>
      <p class="tour__text">
        Сафари туры выбирают туристы, которые предпочитают динамичный, яркий,
        насыщенный эмоциями и впечатлениями отдых. Программы сафари туров по
        Африке рассчитаны на определенную группу людей, которые под
        покровительством куратора, осуществляют увлекательное путешествие по
        заранее спланированному маршруту. Мы ориентированы на клиентов VIP
        класса, поэтому все предложения, представленные в нашей коллекции,
        отличаются высшим классом, детально продуманной программой,
        первоклассным сервисом и индивидуальным подходом к каждому участнику
        путешествия. У нас на сайте вы можете прочитать все подробности о
        программах уже сформированных туров по сафари.
      </p>
    </div>
    @include('blocks/achievements.html', {
      className: 'tour__achievements'
    })
  </div>
</section>
