.about-video {
  width: 60%;
  height: 420px;
  position: fixed;
  z-index: 555;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 220;
  & video {
    width: 100%;
    height: 100%;
  }
  &--show {
    display: block;
  }
  @include lg {
    width: 70%;
  }
  @include md {
    width: 80%;
  }
  @include sm {
    width: 90%;
  }
}
