<div class="achievements @className" data-aos="fade-up" data-aos-duration="1000">
  <ul class="achievements__list">
    <li class="achievements__item">
      <span>16</span>
      <p class="achievements__text">
        Лет успешной<br />
        работы
      </p>
    </li>
    <li class="achievements__item">
      <span>50</span>
      <p class="achievements__text">Гостиниц без посредников</p>
    </li>
    <li class="achievements__item">
      <span>25+</span>
      <p class="achievements__text">
        Собственных<br />
        туров
      </p>
    </li>
    <li class="achievements__item">
      <span>1 220 000</span>
      <p class="achievements__text">кв. км – площадь наших путешествий</p>
    </li>
    <li class="achievements__item">
      <span>5000</span>
      <p class="achievements__text">Довольных<br />туристов</p>
    </li>
  </ul>
</div>
