<footer class="page-footer">
  <div class="container">
    <div class="page-footer__inner" data-aos="fade-up" data-aos-duration="1000">
      @include('blocks/logo.html', {
        className: 'page-footer__logo',
        width: 286,
        height: 60
      })
      <div class="page-footer__box">
        <div class="page-footer__info">
          <p class="page-footer__box-title">Турагентство «Сафари Туристик»</p>
          <p class="page-footer__copy">© 2021. Все права защищены</p>
          <a class="page-footer__link" href="#">Политика конфиденциальности</a>
        </div>
        <div class="page-footer__address">
          <p class="page-footer__box-title">Адрес:</p>
          <address class="page-footer__address-text">г. Киев, ул.Мира, 20, отель «Динамо», 1 этаж</address>
        </div>
        <div class="page-footer__contacts">
          <p class="page-footer__box-title">Заказ туров и бронирование:</p>
          <a class="page-footer__contacts-tel" href="tel:80508543543">8-050-8-543-543</a>
          <a class="page-footer__contacts-email" href="mailto:safari_turistic@gmail.com">
            e-mail: safari_turistic@gmail.com
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
