.main-nav {
  width: 100%;
  border-bottom: 1px solid $white;
  border-top: 1px solid $white;
  padding: 26px 0;
  margin-top: 15px;
  box-sizing: border-box;

  @include md {
    border: none;
  }

  &__btn {
    display: none;

    @include md {
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 126px;
    }
  }

  &__list {
    @extend %list;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;

    @include md {
      transform: translateY(-200%);
      display: block;
      background-color: $potters-clay;
      padding: 10px 0;
      position: absolute;
      left: 0;
      right: 0;

      &--active {
        z-index: 50;
        transform: translateY(0);
      }
    }
  }

  &__link {
    @extend %link;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $white;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    @include md {
      padding: 10px;
      display: block;
      text-align: center;
    }
  }
}
